.logo:hover {
  background-color: none !important;
}
.testToggle {
  color: black;
}
.navigationBar {
  background-color: white;
  -webkit-box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
  -moz-box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
  box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
}
.searchContainer {
  width: fit-content;
}
.searchContainer:focus-within {
  -webkit-box-shadow: 2px 5px 5px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 2px 5px 5px 0px rgba(230, 230, 230, 1);
  box-shadow: 2px 5px 5px 0px rgba(230, 230, 230, 1);
}

.searchIcon {
  color: white;
}
.searchInput {
  margin: 0 10px;
  border: none;
  margin: 0;
  margin-right: 20px;
}
 input[type=text] {
  border: none;
  transition: 150ms;
}
 input[type=text]:focus {
  box-shadow: none;
}

.accountPill:hover{
  -webkit-box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
  -moz-box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
  box-shadow: 2px 5px 10px -5px rgb(97, 97, 97);
}

.accountPill .menuIcon {
  color: rgb(70, 70, 70);
  margin: 0 5px;
  margin-top: 5px;
}
.accountPill img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
}
 .dropdownLink {
  color: rgb(70, 70, 70);
}

 .dropdownLink:hover {
  color: rgb(70, 70, 70);
  text-decoration: none;
}
